@font-face {
  font-family: "Operator Mono";
  font-style: normal;
  font-weight: bold;
  src: local("Operator Mono"), url("/OperatorMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Operator Mono";
  font-style: italic;
  font-weight: bold;
  src: local("Operator Mono"),
    url("/OperatorMono-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Operator Mono";
  font-style: normal;
  font-weight: normal;
  src: local("Operator Mono"), url("/OperatorMono-Book.woff") format("woff");
}

@font-face {
  font-family: "Operator Mono";
  font-style: italic;
  font-weight: normal;
  src: local("Operator Mono"),
    url("/OperatorMono-BookItalic.woff") format("woff");
}

html,
body {
  margin: 0;
}
/* Theme */
:root {
  --primary-color: #ff1c95;
  --background-color: #0b132c;
  --text-color: #e0e1e5;

  --dark: #0b132c;
  --dark-2: #17244c;

  --red: pink;
  --purple: magenta;
  --yellow: gold;
  --teal: teal;
  --gray: #888;

  font-family: "Operator Mono", monospace;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: radial-gradient(circle, #17244c 0%, #0b132c 100%);
}

[data-theme="light"] {
  display: none;
}
[data-theme="dark"] {
  display: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ff1c95;
    --background-color: #e0e1e5;
    --text-color: #0b132c;
    background-image: radial-gradient(circle, #f8f8f8 0%, #e0e1e5 100%);
  }

  [data-theme="light"] {
    display: inherit;
  }
  [data-theme="dark"] {
    display: none;
  }
}

hr {
  border: none;
  background-color: white;
  height: 0.25rem;
  width: 0.25rem;
  position: relative;
  overflow: visible;
  opacity: 0.5;
  margin: 2rem auto;
}

hr::before,
hr::after {
  position: absolute;
  left: -2rem;
  content: "";
  display: inherit;
  background-color: inherit;
  height: inherit;
  width: inherit;
}

hr::after {
  left: 2rem;
}

p {
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
}

img {
  border-radius: 0.5rem;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #abb2bf;
  background: none;
  font-family: "Operator Mono", Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

.gatsby-highlight {
  max-width: calc(100vw - 2rem);
}
/* Code blocks */
pre[class*="language-"] {
  padding: 0.5em;
  margin: 0.5em 0;
  overflow: auto;
  display: block;
  width: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--dark);
  border: 1px solid #5c6370;
  border-radius: 4px;
  font-size: 0.8em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #ef596f;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d8985f;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #89ca78;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2bbac5;
}

.token.atrule,
.token.keyword {
  color: var(--primary-color);
}

.token.function {
  color: #52adf2;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--primary-color);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers-rows {
  border-right: 1px solid #5c6370;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  margin: 0.5em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #5c6370;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
