@font-face {
  font-weight: bold;
  font-family: 'Operator Mono';
  font-style: normal;
  src: local('Operator Mono'), url('/OperatorMono-Bold.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'Operator Mono';
  font-style: italic;
  src: local('Operator Mono'),
    url('/OperatorMono-BoldItalic.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-family: 'Operator Mono';
  font-style: normal;
  src: local('Operator Mono'), url('/OperatorMono-Book.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-family: 'Operator Mono';
  font-style: italic;
  src: local('Operator Mono'),
    url('/OperatorMono-BookItalic.woff') format('woff');
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: inherit;
}

*:focus {
  outline-color: var(--primary-color);
}

button {
  appearance: none;
}

/* Theme */
html,
body {
  --dark: #0b132c;
  --dark-2: #17244c;

  --red: pink;
  --purple: magenta;
  --yellow: gold;
  --teal: teal;
  --gray: #888;

  color: var(--text-color);

  font-family: 'Operator Mono', monospace;
  background-color: var(--background-color);
  background-image: radial-gradient(circle, #17244c 0%, #0b132c 100%);
}

body[data-color-scheme='light'] {
  --primary-color: #ff1c95;
  --background-color: #e0e1e5;
  --text-color: #0b132c;
  background-image: radial-gradient(circle, #f8f8f8 0%, #e0e1e5 100%);
}

body[data-color-scheme='light'] [data-theme='light'] {
  display: inherit;
}
body[data-color-scheme='light'] [data-theme='dark'] {
  display: none;
}

body[data-color-scheme='dark'] {
  --primary-color: #ff1c95;
  --background-color: #0b132c;
  --text-color: #e0e1e5;
}

body[data-color-scheme='dark'] [data-theme='light'] {
  display: none;
}
body[data-color-scheme='dark'] [data-theme='dark'] {
  display: inherit;
}

hr {
  position: relative;
  width: 0.25rem;
  height: 0.25rem;
  margin: 2rem auto;
  overflow: visible;
  background-color: white;
  border: none;
  opacity: 0.5;
}

hr::before,
hr::after {
  position: absolute;
  left: -2rem;
  display: inherit;
  width: inherit;
  height: inherit;
  background-color: inherit;
  content: '';
}

hr::after {
  left: 2rem;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  color: inherit;
}

img {
  border-radius: 0.5rem;
}

svg.MuiSvgIcon-root {
  font-size: 1.1em;
  vertical-align: text-bottom;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #abb2bf;
  font-family: 'Operator Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

.gatsby-highlight {
  max-width: calc(100vw - 2rem);
}
/* Code blocks */
pre[class*='language-'] {
  display: block;
  width: auto;
  margin: 0.5em 0;
  padding: 0.5em;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.8em;
  background: var(--dark);
  border: 1px solid #5c6370;
  border-radius: 4px;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #ef596f;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: #d8985f;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: #89ca78;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2bbac5;
}

.token.atrule,
.token.keyword {
  color: var(--primary-color);
}

.token.function {
  color: #52adf2;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--primary-color);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers-rows {
  border-right: 1px solid #5c6370;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0;
  width: 3em; /* works for line-numbers below 1000 lines */
  margin: 0.5em;
  letter-spacing: -1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
  pointer-events: none;
}

.line-numbers-rows > span:before {
  display: block;
  padding-right: 0.8em;
  color: #5c6370;
  text-align: right;
  content: counter(linenumber);
}
